<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">

<head th:fragment="head">
  <title>Mesero Digital</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.5/css/bootstrap.min.css}" />
  <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.7.2/css/all.min.css}" />

  <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>

  <script th:src="@{/webjars/popper.js/2.11.7/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/5.3.5/js/bootstrap.bundle.min.js}"></script>
</head>
<body>

   <!-- Sidebar -->
  <aside class="sidebar bg-primary text-white p-4 " >
  <h2>MESERO DIGITAL</h2>
  <p>Administra tu restaurant en las siguientes opciones:</p>
  <nav>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a th:href="@{/admin/pedidos}" class="nav-link text-white">Pedidos</a>
      </li>
      <li class="nav-item">
        <span class="nav-link active text-warning">Menú</span>
      </li>
      <li class="nav-item">
        <a th:href="@{/admin/usuarios}" class="nav-link text-white">Usuarios</a>
      </li>
    </ul>
  </nav>
</aside>

  <!-- Contenido principal -->
  



</body>

</html>